@charset "UTF-8";

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body, html{
    height: 100vh;
    width: 100vw;
    background-image: url(../imag/bckbox1plus.png);
    background-size: cover;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
img.loge{
    height: 30px;
    width: 30px;
    display: inline-block;
    margin-left: 7px;
    margin-top: 4px;
    margin-bottom: -4px;
    mix-blend-mode: plus-lighter;
}
section#logA{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: aliceblue;
    width: 250px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(12, 33, 56, 0.788);
    color: rgb(26, 114, 107);
    font-weight: 600;
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}
section#logA > div#imag{
    display: block;
    background: rgb(26, 114, 107) url(../imag/stars-ga1af6c16d_1920.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    background-position: center center;
}
section#logA > div#ifrm{
    padding: 10px;
    display: block;
}
div.fld > label{
    display: none;
    /*position: absolute;
    left: 60px;
    color: aliceblue;
    margin-top: 5px;
    font-weight: 400;
    cursor: text;*/
}
/*div.fld > label:active{
    transition: .6s;
    /*font-size: .3em;
    transform: translateY(-8px);
}*/
div.fld{
    background-color: rgb(11, 59, 55);
    border-radius: 5px;
    margin-top: 3px;
    display: block;
    width: 100%;
    height: 40px;
}
div.fld > input{
    background-color: rgb(26, 114, 107);
    font-size: 1em;
    width: calc(100% - 44px);
    height: 90%;
    transform: translateY(-5px);
    border: 0px;
    border-radius: 5px;
    padding: 4px;
}
div.fld > input:focus-within{
    transition: .6s;
    background-color: rgb(76, 204, 193);
}
div#ifrm > h1{
    text-align: center;
    margin-bottom: 10px;
}
div#ifrm{
    font-size: .8em;
}
form > div#lgbx > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-image: linear-gradient(to bottom, rgb(26, 114, 107), rgb(11, 59, 55));
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 600;
    cursor: pointer;
}
form > div#lgbx > input[type=submit]:hover{
    transition: .6s;
    mix-blend-mode: hard-light;
    box-shadow: 0px 0px 6px rgb(15, 88, 70);
}
form > div#lgbx > a.btn{
    margin-top: 10px;
    display: block;
    text-align: center;
    padding-top: 8px;
    font-size: 1em;
    width: 100%;
    height: 40px;
    text-decoration: none;
    background-image: linear-gradient(to bottom, rgb(26, 114, 107), rgb(11, 59, 55));
    border-radius: 5px;
    color: aliceblue;
}
form > div#lgbx > a.btn:hover{
    transition: .6s;
    mix-blend-mode: hard-light;
    box-shadow: 0px 0px 6px rgb(15, 88, 70);
}
p{
    margin: 10px 15px;
}
form > div.fld > input::placeholder{
    color: rgb(227, 241, 241);
    font-weight: 500;
}
form > div.fld > input:focus::placeholder{
    transition: .6s;
    font-size: .7em;
    transform: translate(4px, -12px);
}